$primary: forestgreen;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($primary, .075);
$box-shadow-lg: 0 1rem 3rem rgba($primary, .175);
$box-shadow-inset: inset 0 1px 2px rgba($dark, .075);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
